.cart{
    position: sticky;
    top: 10px;
}
.cart h1{
    text-align: center;
}
.cart-info{
    margin-left: 35px;
}
.cart-info button{
    background-color: red;
    padding: 10px;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 30px;
}