.header{
    background: rgba(28, 43, 53, 1);
    padding: 15px 110px;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu a{
    color: #fff;
    font-size: 19px;
    margin-left: 35px;
    text-decoration: none;
}
.nav-menu a:hover{
    color: #00aa30;
   
}